name: Generate documentation

on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up NodeJS
        uses: actions/setup-node@v6
        with:
          node-version: "22"

      - name: Install dependencies
        run: npm install

      - name: Generate documentation
        run: npx typedoc src/index.ts --out docs --plugin typedoc-plugin-mermaid --cname lib-filetransfer.ludovicm67.fr

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4.8.0
        with:
          branch: gh-pages # The branch the action should deploy to.
          folder: docs # The folder the action should deploy.
